{% extends 'base.html.twig' %}

{% block title %}Přihlásit se - Stardew Valley{% endblock %}

{% block content %}
<div class="flex h-full justify-center items-center">
    <form class="flex flex-col max-w-xs w-full bg-gray-300 p-8 shadow-lg" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h2 class="text-center text-2xl mb-4 font-bold">Přihlásit se</h2>
        <label class="flex flex-col">
            <span class="font-bold">Email</span>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="border-2 border-gray-400 hover:border-blue-500 focus:border-blue-500 p-2" required autofocus />
        </label>
        <label class="flex flex-col">
            <span class="font-bold">Heslo</span>
            <input type="password" name="password" id="inputPassword" class="border-2 border-gray-400 hover:border-blue-500 focus:border-blue-500 p-2" required />
        </label>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="bg-blue-500 text-white font-bold text-lg py-4 mt-4" type="submit">
            Přihlásit
        </button>
    </form>
</div>
{% endblock %}
