<footer class="h-64 bg-gray-800 p-4">
    <a class="inline-block border border-white p-2 rounded" href="https://github.com/Thesoreon/zwa-project">
        {{ include("icons/github.html.twig") }}
    </a>
    <a class="inline-block border border-white p-2 rounded" href="https://github.com/Thesoreon/zwa-project">
        {{ include("icons/postgresql.html.twig") }}
    </a>
</footer>
