{% extends 'base.html.twig' %}

{% block title %}Nahrát save - Stardew Valley{% endblock %}

{% block content %}
    <div class="h-full flex items-center justify-center">
        {{ form_start(form, { "attr": { "class": "flex flex-col max-w-md w-full bg-gray-100 p-8 shadow-lg" } }) }}
            {{ include("fragments/home-button.html.twig") }}
            <h2 class="text-center text-2xl mb-4 font-bold">Nahrát save</h2>
            <label id="label-save" class="border-2 border-blue-500 p-4 rounded">
                <span class="block font-bold mb-4">Save Game Info</span>
                {{ form_widget(form.game_info_file, { "attr": { "class": "w-full" } }) }}
            </label>
            <button class="bg-blue-500 hover:bg-blue-600 focus:bg-blue-600 text-white font-bold text-lg py-4 mt-4 rounded" type="submit">Nahrát</button>
        {{ form_end(form) }}
    </div>
    <script type="text/javascript">
        function errorFactory(errorId, errorMessage) {
            const errorElement = document.createElement("span");
            errorElement.innerText = errorMessage;
            errorElement.className = "text-red-500";
            errorElement.id = errorId;

            return errorElement;
        }

        function validate(e) {
            const errors = {};

            const fileElement = document.getElementById("label-save");

            const file = document.forms.save_file.save_file_game_info_file;

            const fileErrorElement = document.getElementById("save-error");

            if (fileErrorElement) {
                fileErrorElement.remove();
            }

            if (!file.value) {
                errors.file = "Musite nahrat file";
            }

            if (errors.file) {
                fileElement.appendChild(errorFactory("save-error", errors.file));
            }

            if (errors.file) {
                e.preventDefault();
                return false;
            } else {
                console.log("Submitted");
            }
        }

        document.forms.save_file.onsubmit = validate;
    </script>
{% endblock %}
