@font-face {
    font-family: OpenSans;
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/OpenSans-Bold.woff2") format("woff2"), url("/fonts/OpenSans-Bold.woff") format("woff");
}

@font-face {
    font-family: OpenSans;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/OpenSans-Regular.woff2") format("woff2"), url("/fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
    font-family: OpenSans;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/OpenSans-Light.woff2") format("woff2"), url("/fonts/OpenSans-Light.woff") format("woff");
}

html, body {
    height: 100%;
}

body {
    font-family: OpenSans, sans-serif;
}
