<!DOCTYPE html>
<html lang="cs">
    {{ include("fragments/_head.html.twig") }}
    <body>
        <div id="content-mount">
            <h1>Stardew Valley Save Scraper</h1>
            <a href="/save/upload">Upload new Save</a>
            <a href="/login">Login</a>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
