<!DOCTYPE html>
<html class="h-full" lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sdílejte své herní savy ze hry Stardew Valley s přáteli!" />
    <title>{% block title %}{% endblock %}</title>
    {# TODO: favicon #}
    {# TODO: meta tags (description, twitter, opengraph) #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('tailwind') }}
    {% endblock %}
</head>
<body class="h-full">
    {% block content %}
    {% endblock %}
</body>
</html>
