<!DOCTYPE html>
<html lang="cs">
    {{ include("fragments/_head.html.twig") }}
    <body>
        <div id="content-mount">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
