<!DOCTYPE html>
<html class="h-full" lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sdílejte své herní savy ze hry Stardew Valley s přáteli!" />
    <title>{% block title %}{% endblock %}</title>
    {# TODO: favicon #}
    {# TODO: meta tags (description, twitter, opengraph) #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('tailwind') }}
    {% endblock %}
</head>
<body class="h-full">
    <nav class="flex items-center bg-blue-600 h-20 px-4">
        <ul class="flex text-lg text-white font-bold w-full">
            {% for link in navigation_links %}
                <li class="inline-block">
                    <a class="inline-block p-4" href="{{ link.href }}">{{ link.name }}</a>
                </li>
            {% endfor %}
            {% if app.user %}
                <li class="inline-block flex-grow text-right">
                    <a class="bg-green-800 hover:bg-green-900 rounded inline-block py-4 px-8" href="/logout">Odhlásit se</a>
                </li>
                <li class="inline-block ml-2">
                    <a class="bg-blue-800 hover:bg-blue-900 rounded inline-block py-4 px-8" href="/upload">Nahrát save</a>
                </li>
            {% else %}
                <li class="inline-block flex-grow text-right">
                    <a class="bg-green-800 hover:bg-green-900 rounded inline-block py-4 px-8" href="/login">Přihlásit se</a>
                </li>
                <li class="inline-block ml-2">
                    <a class="bg-blue-800 hover:bg-blue-900 rounded inline-block py-4 px-8" href="/register">Zaregistrovat</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
