<!DOCTYPE html>
<html class="mode-{{ app.request.session.get("theme")|default("default") }}" lang="cs">
    <head>
        <meta charset="UTF-8" />
        <link rel="preload" href="/fonts/OpenSans-Regular.woff2" as="font" type="font/woff2" crossOrigin="anonymous" />
        <link rel="preload" href="/fonts/OpenSans-Bold.woff2" as="font" type="font/woff2" crossOrigin="anonymous" />
        <link rel="preload" href="/fonts/OpenSans-Light.woff2" as="font" type="font/woff2" crossOrigin="anonymous" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Pavel Susicky" />
        <meta name="description" content="Sdílejte své herní světy ze Stardew Valley" />
        <link href="{{ asset('styles/fonts.css') }}" rel="stylesheet"/>
        {{ encore_entry_link_tags('tailwind') }}
    </head>
    <body class="bg-gray-200 print:p-8 dark:bg-black">
        {% block body %}{% endblock %}
    </body>
</html>
