<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sdílejte své herní savy ze hry Stardew Valley s přáteli!" />
    <title>TODO: change it to template variable</title>
    <link href="{{ asset('css/normalize.css') }}" rel="stylesheet"/>
    {# TODO: favicon #}
    {# TODO: meta tags (description, twitter, opengraph) #}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
