<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TODO: change it to template variable</title>
        {# TODO: favicon #}
        {# TODO: meta tags (description, twitter, opengraph) #}
    </head>
    <body>
        <h1>TEMPLATE</h1>
    </body>
</html>
