{% extends 'base.html.twig' %}

{% block content %}
<div id="content-mount">
    <h1>Stardew Valley Save Scraper</h1>
    <a href="/save/upload">Upload new Save</a>
    <a href="/login">Login</a>

    {% for save in saveFiles %}
        <div>
            <h2>{{ save.worldData.name }}</h2>
            <span>Uploaded: {{ save.createdAt }}</span>
            <span>Money: {{ save.worldData.money }}</span>
        </div>
    {% endfor %}
</div>
{% endblock %}
