{% extends "base.html.twig" %}

{% block title %}Stardew Valley{% endblock %}

{% block body %}
    {% include 'fragments/_navigation.html.twig' %}
    <main class="max-w-5xl print:max-w-full mx-auto">
        <h1 class="font-bold text-2xl my-4 print:text-5xl print:text-center">Nejnovější světy</h1>
        {% for upload in worldUploads %}
            {% include 'fragments/_upload-preview.html.twig' with { upload } %}
        {% endfor %}
        {{ knp_pagination_render(worldUploads, "fragments/_pagination.html.twig") }}
    </main>
    {% include 'fragments/_footer.html.twig' %}
{% endblock %}
