{% extends "base.html.twig" %}

{% block title %}Stardew Valley{% endblock %}

{% block body %}
    <a href="/login">Login</a>
    {% for upload in worldUploads %}
        <div>
            <time>{{ upload.createdAt|date("F jS \\a\\t g:ia")  }}</time>
            <p>Uploaded by: {{ upload.author.username }}</p>
        </div>
    {% endfor %}
{% endblock %}
