{% extends 'base.html.twig' %}

{% block title %}Stardew Valley{% endblock %}

{% block content %}
<div id="content-mount">
    <h1>Stardew Valley Save Scraper</h1>

    {% for save in saveFiles %}
        <div>
            <h2>{{ save.worldData.name }}</h2>
            <span>Uploaded: {{ save.createdAt|date("d.m.y H:i:s") }}</span>
            <span>Money: {{ save.worldData.money }}</span>
        </div>
    {% endfor %}
</div>
{% endblock %}
